<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:content="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context.xsd">

	<content:annotation-config /> <!-- all the annotations started if you're using any annotation -->


	<!-- Life cycle of bean and configuration technique using XML -->
	<bean class="com.springcore.lifecycle.Samosa" name="samosa1"
		init-method="hey" destroy-method="bye">
		<property name="price" value="10"></property>
	</bean>


	<!-- Life cycle of bean and configuration technique using interface using 
		an interface we have to make two bean one is initializing Bean and other 
		is Disposable Bean -->
	<bean class="com.springcore.lifecycle.Pepsi" name="pepsi1">
		<property name="price" value="14" />
	</bean>

	<!-- Life cycle of bean using Annotations -->
	<bean class="com.springcore.lifecycle.Jalebi" name="jalebi1">
		<property name="price" value="20" />
	</bean>

</beans>